# # Google
# GOOGLE_CLIENT_ID=xxxx.apps.googleusercontent.com
# GOOGLE_CLIENT_SECRET=GOCSPX-xxxx
# GOOGLE_CALLBACK_URL=https://yourdomain.com/auth/google/callback


JWT_ACCESS_SECRET=cxx
JWT_REFRESH_SECRET=xxx

# App
SECRET_KEY=xxx
MONGO_URI=mongodb+srv://xxxx:xxxx@cluster0.qixngrn.mongodb.net/
PORT=xxxx